@import url('https: //fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');


*{
	padding:0;
	margin:0;
	box-sizing: border-box;
}

body{font-family: 'Lexend Deca', sans-serif;
	background-color:hsl(0, 0%, 95%);
	color:hsla(0, 0%, 100%, 0.75);
	font-size: 15px;
	;
}

.main{
		display:flex;
		flex-direction:column;
		flex-wrap: row wrap;
		align-items:center;		
	}

.col{
	width:70%;
	padding: 2rem;

}

.col-1{
	background-color:hsl(31, 77%, 52%);
	border-radius: 0.7rem 0.7rem 0 0;

}

.col-2{
	background-color:hsl(184, 100%, 22%);
}

.col-3{
	background-color:hsl(179, 100%, 13%);
	border-radius:0  0 0.7rem 0.7rem ;
}






h1{
	font-family: 'Big Shoulders Display', cursive;
	color:hsl(0, 0%, 95%);
	padding: 1.5rem 0 1.5rem 0;
}

p{
	padding:0 1.5rem 4rem 0;

}

button{
	border-radius:32px;
	cursor:pointer;
	
	border: 2px solid hsl(0, 0%, 95%);
	padding: 10px 20px;
	background-color:hsl(0, 0%, 95%);
}

.col-1 button{
	color:hsl(31, 77%, 52%);
}

.col-2 button{
	color:hsl(184, 100%, 22%);
}

.col-3 button{
	color:hsl(179, 100%, 13%);
}

button:hover{
	color:hsl(0, 0%, 95%);
}

.col-1 button:hover{
	background-color:hsl(31, 77%, 52%);


}

.col-2 button:hover{
	background-color:hsl(184, 100%, 22%);
}

.col-3 button:hover{
	background-color:hsl(179, 100%, 13%);
}

.attribution{
	color: darkgrey;
	position;fixed;
	bottom: 0px;
	text-align: center;
}

.attribution a{
	color: darkcyan;
}

@media (min-width: 700px){

	.main{
	display:flex;
	flex-direction: row;
	justify-content:center;
	align-items:center;
	height: 100vh;
}

.col{
	width: 20%;
	padding: 2rem;
}

.col-1{
	border-radius: 0.7rem 0 0 0.7rem;

}

.col-3{
	border-radius:0 0.7rem 0.7rem 0;

}

}
